
Battleship/MainApp/obj/x86/Debug/App.g.i.cs
Battleship/MainApp/obj/x86/Debug/MainPage.g.i.cs
Battleship/MainApp/obj/x86/Debug/XamlSaveStateFile.xml
Battleship/.vs/Battleship/v16/.suo
Battleship/MainApp/bin/x86/Debug/App.xbf
Battleship/MainApp/bin/x86/Debug/AppX/App.xbf
Battleship/MainApp/bin/x86/Debug/AppX/entrypoint/MainApp.exe
Battleship/MainApp/bin/x86/Debug/AppX/MainPage.xbf
Battleship/MainApp/bin/x86/Debug/AppX/vs.appxrecipe
Battleship/MainApp/bin/x86/Debug/MainApp.build.appxrecipe
Battleship/MainApp/bin/x86/Debug/MainApp.exe
Battleship/MainApp/bin/x86/Debug/MainApp.pdb
Battleship/MainApp/bin/x86/Debug/MainPage.xbf
Battleship/MainApp/obj/MainApp.csproj.nuget.dgspec.json
Battleship/MainApp/obj/MainApp.csproj.nuget.g.props
Battleship/MainApp/obj/project.assets.json
Battleship/MainApp/obj/project.nuget.cache
Battleship/MainApp/obj/x86/Debug/App.g.cs
Battleship/MainApp/obj/x86/Debug/App.g.i.cs
Battleship/MainApp/obj/x86/Debug/App.xbf
Battleship/MainApp/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Battleship/MainApp/obj/x86/Debug/intermediatexaml/MainApp.exe
Battleship/MainApp/obj/x86/Debug/intermediatexaml/MainApp.pdb
Battleship/MainApp/obj/x86/Debug/MainApp.csproj.CoreCompileInputs.cache
Battleship/MainApp/obj/x86/Debug/MainApp.csproj.FileListAbsolute.txt
Battleship/MainApp/obj/x86/Debug/MainApp.csprojAssemblyReference.cache
Battleship/MainApp/obj/x86/Debug/MainApp.exe
Battleship/MainApp/obj/x86/Debug/MainApp.pdb
Battleship/MainApp/obj/x86/Debug/MainPage.g.cs
Battleship/MainApp/obj/x86/Debug/MainPage.g.i.cs
Battleship/MainApp/obj/x86/Debug/MainPage.xbf
Battleship/MainApp/obj/x86/Debug/ProjectArchitectures.txt
Battleship/MainApp/obj/x86/Debug/XamlSaveStateFile.xml
Battleship/.vs/Battleship/v16/.suo
Battleship/MainApp/bin/x86/Debug/App.xbf
Battleship/MainApp/bin/x86/Debug/AppX/App.xbf
Battleship/MainApp/bin/x86/Debug/AppX/entrypoint/MainApp.exe
Battleship/MainApp/bin/x86/Debug/AppX/MainPage.xbf
Battleship/MainApp/bin/x86/Debug/AppX/vs.appxrecipe
Battleship/MainApp/bin/x86/Debug/MainApp.build.appxrecipe
Battleship/MainApp/bin/x86/Debug/MainApp.exe
Battleship/MainApp/bin/x86/Debug/MainApp.pdb
Battleship/MainApp/bin/x86/Debug/MainPage.xbf
Battleship/MainApp/obj/MainApp.csproj.nuget.dgspec.json
Battleship/MainApp/obj/MainApp.csproj.nuget.g.props
Battleship/MainApp/obj/project.assets.json
Battleship/MainApp/obj/project.nuget.cache
Battleship/MainApp/obj/x86/Debug/App.g.cs
Battleship/MainApp/obj/x86/Debug/App.g.i.cs
Battleship/MainApp/obj/x86/Debug/App.xbf
Battleship/MainApp/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Battleship/MainApp/obj/x86/Debug/intermediatexaml/MainApp.exe
Battleship/MainApp/obj/x86/Debug/intermediatexaml/MainApp.pdb
Battleship/MainApp/obj/x86/Debug/MainApp.csproj.CoreCompileInputs.cache
Battleship/MainApp/obj/x86/Debug/MainApp.csproj.FileListAbsolute.txt
Battleship/MainApp/obj/x86/Debug/MainApp.csprojAssemblyReference.cache
Battleship/MainApp/obj/x86/Debug/MainApp.exe
Battleship/MainApp/obj/x86/Debug/MainApp.pdb
Battleship/MainApp/obj/x86/Debug/MainPage.g.cs
Battleship/MainApp/obj/x86/Debug/MainPage.g.i.cs
Battleship/MainApp/obj/x86/Debug/MainPage.xbf
Battleship/MainApp/obj/x86/Debug/ProjectArchitectures.txt
Battleship/MainApp/obj/x86/Debug/XamlSaveStateFile.xml
Battleship/.vs/Battleship/v16/.suo
